
	::-moz-selection { background-color: #f90; }
	::selection { background-color: #f90; }

	h1, h2, h3, h4, h5, h6,
	select,
	.twitter-wrap i,
	.twitter-wrap a,
	.contact-info span,
	.contact-wrap label,
	footer a,
	.sequence-wrap,
	.check-list li:before,
	.arrow-list li:before,
	.circle-list li:before,
	.square-list li:before,
	.plus-list li:before,
	.minus-list li:before,
	.star-list li:before,
	.heart-list li:before,
	.title,
	.strong-color,
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select { color: #f90; }

	#nav li a:hover,
	#nav li.active a,
	.about-icon,
	.team-social li a,
	.services,
	.overlay .caption .icon-wrap,
	.contact-info i,
	.sequence-pagination li.current,
	.sequence-pagination li:hover,
	.sequence-title-two,
	.social li a,
	.skill-line,
	.table-name h3.promo,
	.color,
	.flex-control-paging li a,
	.flex-control-paging li a:hover,
	.flex-control-paging li a.flex-active  { background-color: #f90; }

	.skill-bar,
	.skill-line,
	.quote,
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select,
	.color { border-color: #f90; }

	/* For the best effect of inactive pagination in flexslider use rgba background of your color.
	   0.5 stands for opacity */
	.flex-control-paging li a { background: rgba(255,153,0,0.5); }